/* common styles or utilities  */
body{
    /* font-family: 'Roboto', sans-serif; */
}

/* _______________Header_____________  */
/* section-1 start  */
.section-1{
    width: 1440px;
    height: 715px;
    background-color: #FFFBF0;
}
/* ________________nav-part__________________  */
.whole-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-details{
    font-family: 'Roboto', sans-serif; 
    margin-right: 137px;
    margin-top: 47px;
    
}
.nav-logo img{
    width: 291.11px;
    height: 39.27px;
    margin-left: 135px;
    margin-top: 39px;
}
ul li{
    list-style: none;
    float: left;
}
ul li a{
    text-decoration: none;
    color: #3C3C3C;
    font-size: 16px;
    display: block;
    margin-left: 57px;
}
/* ________________nav-part end__________________  */
.details-with-thumbnail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.only-title{
    width: 416px;
    height: 192px;
    margin-left: 135px;
    margin-top: 101px;
}
.title-1{
    color: #FABE4C;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 96px;
}
.title-2{
    color: #363958;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 96px;
}
.info{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 357px;
    height: 52px;
    margin-left: 139px;
    margin-top: 4px;
    margin-bottom: 40px;
}
.check{
    background-color: aqua;
    border: none;
    width: 170px;
    height: 60px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    margin-left: 135px;
    margin-bottom: 66px;
    padding: 18px 33px;
    display: flex;
    justify-content: center;
}
.create-button{
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-transform: uppercase;
}
.trolly{
    color: white;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.thumbnail{
    width: 549px;
    height: 559px;
    margin-right: 185px;
    margin-top: 90px;
    margin-bottom: 66px;
}
/* _________________section-1 end___________________  */

/* section-2 start  */
.section-2{

}
.top-title{
    text-transform: uppercase;
    width: 225px;
    height: 58px;
    font-size: 48px;
    line-height: 58px;
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    margin-left: 135px;
    margin-top: 49px;
}
.card{
    width: 370px;
    height: 550px;
    background-color: rgb(37, 37, 37);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding-left: 18px;
    padding-top: 18px;
    padding-right: 18px;
}
.container{
    width: 334px;
    height: 327px;
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 22px 21px 12px 20px;
}
.images img{
    width: 293px;
    height: 293px;
    align-items: center;
    justify-content: center;
}
.coat-title{
    width: 206px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
    font-family: 'Roboto', sans-serif;
    margin-left: 22px;
    margin-top: 17px;
}
.coat-description{
    width: 299px;
    height: 52px;
    font-size: 16px;
    line-height: 26px;
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    margin-left: 22px;
    margin-top: 13px;
}
.price-button{
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 36px;
    line-height: 42px;
    width: 84px;
    height: 42px;
    color: #FABE4C;
    font-family: 'Roboto', sans-serif;
    margin-left: 22px;
    margin-top: 21px;
}
.already-check{
    background-color: aqua;
    border: none;
    width: 170px;
    height: 60px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    padding: 18px 33px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 23px;
    margin-right: 15px;
}
.repeat-button{
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-transform: uppercase;
}
